<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Kokeb Laundry</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-slate-100">

<div class="min-h-screen flex items-center justify-center">

    <div class="bg-white shadow-xl rounded-2xl p-12 w-full max-w-3xl">

        <div class="text-center">

            <h1 class="text-5xl font-bold text-blue-700">

                KOKEB LAUNDRY

            </h1>

            <p class="text-slate-500 mt-3">

                by Eyasu

            </p>

            <p class="mt-8 text-slate-600">

                Fast • Professional • Reliable Laundry Management

            </p>

        </div>

        <div class="mt-12">
            <form method="GET" action="/track/" class="mt-12">

            <input
                type="text"
                name="q"
                placeholder="Receipt Number or Phone Number"
                required
                class="w-full border border-slate-300 rounded-lg px-5 py-4 focus:ring-2 focus:ring-blue-300 outline-none">
        </div>

        <div class="mt-6">

            <button
                class="w-full mt-5 bg-blue-600 hover:bg-blue-700 text-white py-4 rounded-lg">

                Track Laundry

            </button>
            </form>
        </div>

        <div class="mt-10 text-center">

            <a
                href="/accounts/login/"
                class="text-blue-600 hover:underline">

                Staff Login

            </a>

        </div>

    </div>

</div>

</body>

</html>